
# directories (by name)

build/

/.bundle/
/.yardoc/
/_yardoc/

/InstalledFiles/

/coverage/
/doc/
/lib/bundler/man/
/pkg/
/rdoc/
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
/vendor/bundle

# directories (by pattern)

# files (by name)

/.config
/.repl_history
/spec/examples.txt

.DS_Store
.rvmrc

# files (by pattern)

*~
*.*~
.dat*
*.b64
*.bridgesupport
*.gem
*.rbc
*.swp
*.zip

