
# directories (by name)

# directories (by pattern)

# files (by name)

.DS_Store

.ruby-version

# files (by pattern)

*~
*.gem
*.swp
*.tmp

test/scratch/log_files/log_rolling_by_period_daily*
test/scratch/log_files/log_rolling_by_size_and_depth*

